[user]
	email = federico.fontana2000@gmail.com
	name = fedfontana
	signingkey = /Users/fonta/.ssh/id_rsa.pub
[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
[core]
	excludesfile = /Users/fonta/.gitignore_global
[gpg]
	format = ssh
[commit]
	gpgsign = true
